@import "tailwindcss";

:root {
  background-color: black;
  color: white;

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}

html {
  scroll-behavior: smooth;
}

/* .card-header {
  font-family: 'Lora', serif;
}

.card-body {
  font-family: 'Cormorant Garamond', serif;
} */

@theme {
  --color-primary: #d3e97a;
  --color-secondary: #222222;
  --animate-pop: pop 0.2s ease-out;
}

@keyframes pop {
  from { transform: scale(1); }
  to   { transform: scale(1.10); }
}

@keyframes pop-out {
  from { transform: scale(1.10); }
  to   { transform: scale(1); }
}

.button {
  animation: pop-out 0.2s ease forwards;
}

.button:hover {
  animation: pop 0.2s ease forwards;
}